

.library h1{
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 1px solid #43e97b;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.songs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.songs p{
    margin: 1.5rem;
}
